<div style="display: flex;justify-content: center; align-items: center;">
  <div>
    <h3>Inventory Sale</h3>
  </div>
</div>


<form [formGroup]="orderForm" #formValue>
<div formArrayName="items" class="container" style="margin-bottom:3%; display: flex;justify-content: center; align-items: center;"
>
<div [formGroupName]="i" style="margin-top : 10px">
  <input formControlName="name" placeholder="Company name" #cmpName [(ngModel)]="test1" required>
  <input formControlName="description" #contPersn placeholder="Contact Person" >
  <input formControlName="price" #perfrmnc  placeholder="performance" required>
  <input formControlName="price" #status placeholder="Status" >
  <button (click)="addItem(cmpName.value, contPersn.value, perfrmnc.value, status.value)">Add</button>
  <button (click)="removeItems()">Remove</button>
</div>
</div>

<div [formGroupName]="j" style="margin-top : 10px"
*ngFor="let item of orderForm.get('items').controls; let i = index;">
  <label [(ngModel)]="nameCmp">Company Name:   {{nameCmp}}</label>
  <label [(ngModel)]="nameCont">Key contacts:  {{nameCont}}</label>
  <label [(ngModel)]="cmpPer">Company Performance:  {{cmpPer}}</label>
  <label [(ngModel)]="cmpSts"> company Status:  {{cmpSts}}</label><hr/>

</div>

<div id="container" style="margin:auto; display: flex;justify-content: center; align-items: center; width: 50%;"><canvas  #canvas></canvas></div>`

</form>

